body {
  background-color: #dbe3de;
}

h1 {
  font-family: Elephant;
  font-size: 160px;
  color: #303845;
  margin-top: 20px;
  margin-left: 50px;
  text-decoration: none;
  }

  hr {
    size: 1px;
    margin-top: -130px;
  }

  ul.layer {
    font-family: Helvetica;
    font-size: 20px;
    color: #303845;
    text-align: right;
    margin-top: -52px;
  }

  li.layer {
    display: inline-block;
    margin-right: 20px;
    text-align: right;
    text-decoration: none;
  }

  ul.register {
    color: #303845;
    font-family: Elephant;
    font-size: 25px;
    text-align: center;
    margin-top: 150px;
  }

  li > label { margin-right: 10px; }

  li.username > input[type="text"] {
    font-size: 17px;
  }

  li.e-mail > input[type="email"] {
    font-size: 17px;
  }

  li.password > input[type="password"] {
    font-size: 17px;
  }

  li.repeatpassword > input[type="password"] {
    font-size: 17px;
  }

  li.submit > input[type="submit"] {
    font-size: 17px;
    font-family: Helvetica;
      }

      div.back {
        margin-top: 14px;
        font-size: 17px;
      font-family: Helvetica;
      text-align: center;
      }

      div.login {
        margin-top: 100px;
        font-size: 20px;
      font-family: Helvetica;
      text-align: center;
      }

      button {
        font-size: 17px;
        text-align: center;
      }
