<h1><a routerLink="/events" id="homepage">EVENTS</a></h1>

<form #registration="ngForm" (ngSubmit)="onClickSubmit(registration.value)">
  {{message}}

  <div class="form-group">

    <label for="username">Username:</label>

    <input type="text" id="username" required maxlength="50" placeholder="Username"
           [(ngModel)]="newUser.username" name="username">

    <div *ngIf="registration.controls['username'].invalid
    && (registration.controls['username'].dirty || registration.controls['username'].touched)">
      <div *ngIf="registration.controls['username'].errors?.['required']">Username is required *</div>
      <div *ngIf="registration.controls['username'].errors?.['maxlength']">Username has to be 50 characters max *</div>
    </div>
  </div>

  <div class="form-group">

    <label for="email">E-mail:</label>
    <input type="email" id="email" placeholder="E-mail" required name="email"/>

    <div *ngIf="registration.controls['email'].invalid &&
     (registration.controls['email'].dirty || registration.controls['email'].touched)">
      <div *ngIf="registration.controls['email'].errors?.['required']">Email is required *</div>
      <div *ngIf="registration.controls['email'].errors?.['email']">Invalid email address.</div>
    </div>
  </div>

  <div class="form-group">

    <label for="password">Password:</label>
    <input type="password" id="password" placeholder="password" required minlength="8" maxlength="30" name="password"/>

    <div *ngIf="registration.controls['password'].invalid &&
     (registration.controls['password'].dirty || registration.controls['password'].touched)">
      <div *ngIf="registration.controls['password'].errors?.['required']">Password is required *</div>
      <div *ngIf="registration.controls['password'].errors?.['minlength']">Password too short (8 characters min) *</div>
      <div *ngIf="registration.controls['password'].errors?.['maxlength']">Password too long (30 characters max) *</div>
    </div>
  </div>

<!--  <div class="form-group">-->

<!--    <label for="confirmPassword">Confirm password:</label>-->

<!--    <input type="password" id="confirmPassword" placeholder="Confirm" required />-->
<!--    <div *ngIf="registration.controls['confirmPassword'].invalid &&-->
<!--     (registration.controls['password'].dirty || registration.controls['password'].touched)">-->
<!--      <div *ngIf="registration.controls['password'].errors?.['required']">Password is required *</div>-->
<!--    </div>-->
<!--  </div>-->

  <input type="submit" value="Register"/>

</form>
<button (click)="back()">Back</button>


