<h1 class="event"><a routerLink="/events" id="homepage">EVENTS</a></h1>
<hr>

<ul class="start">
  <li class="username">
  <a routerLink="/login">USERNAME</a>
</li>
<li class="myevents">
  <a routerLink="/register">MY EVENTS</a>
</li>
<li class="createevents">
 <a routerLink="/register">CREATE EVENT</a>
</li>
<li class="logout">
 <a routerLink="/events">LOG OUT</a>
</li>
</ul>


<div id="single-event">
  <h1 class="title">{{ event.title }}</h1>
  <p>Starts: {{ event.startDate }}</p>
  <p>Ends: {{ event.endDate }}</p>
  <p class="event-description">{{ event.description }}</p>
</div>

<ul class="buttons" id="event-buttons">
<!--if registered -->
<!--if not -> redirect to login page/register-->
<li class="button">
  <button id="default-button">Attend</button>
</li>
<li>
  <a routerLink="/events/logged" id="go-back-button">Back</a>
</li>
<li>
<a routerLink="/comment/add/{{ event.id }}">Add comment</a>
</li>
</ul>

<div class="comments">
  <div *ngFor="let comment of comments">
    <li id="username">
        {{ comment.username }}
    </li>
    <li>{{ comment.publishingDate }}</li>
    <li id="message">
      {{ comment.message }}
    </li>

  </div>

</div>
