
ul {
  list-style: none;
  padding: 0;
  width: 400px;
}

#event-description {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50ch;
}

#event-title {
  font-size: large;
  font-weight: bold;

h1 {
  color: pink;
}
