ul {
  list-style: none;
  padding: 0;
  width: 400px;
}

.event-description {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#event-desc-short {
  max-width: 50ch;
}

#event-title {
  font-size: large;
  font-weight: bold;
}

#event-buttons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

#attend-button,
#go-back-button {
  margin-right: 10px;
}
