<body>
<h1><a routerLink="/events" id="homepage">EVENTS</a></h1>
<form action="" method="post">
  <ul>
    <li>
      <label for="username">Username:</label>
      <input type="text" name="username" required="required" /><br />
    </li>
    <li>
      <label for="password">Password:</label>
      <input type="password" name="password" required="required" />
    </li>
    <li>
      <input type="submit" value="Login" routerLink="/events"/>
    <li>
  </ul>
  <div>
    <p>New here? Create an account</p>
    <a routerLink="/register" id="default-button">Register</a>
  </div>

</form>

<button (click)="back()">Back</button>
</body>
