<body>
<h1><a routerLink="/events" id="homepage">EVENTS</a></h1>
<hr>


<ul class="layer">
  <li class="layer">
  <a routerLink="/login">Login</a>
</li>
<li class="layer">
  <a routerLink="/register">Sign up</a>
</li>
</ul>


<form action="" method="post">
  <ul class="Login">
    <li class="username">
      <label for="username">username</label>
      <input type="text" name="username" required="required" /><br />
    </li>
    <li class="password">
      <label for="password">password  </label>
      <input type="password" name="password" required="required" />
    </li>
    <li class="submit">
      <input type="submit" value="Login" routerLink="/events/logged"/>
    <li>
  </ul>
  <div class="register">
    <p>New here? Create an account</p>
    <a routerLink="/register" id="default-button">Register</a>
  </div>

</form>

<div class="back">
<button (click)="back()">Back</button>
</div>
</body>
