<body>
 <h1>EVENTS</h1>
 <hr>
<ul class="start">
  <li class="login">
  <a routerLink="/login">login</a>
</li>
<li class="register">
  <a routerLink="/register">sign up</a>
</li>
</ul>


  <ul class="events" *ngFor="let actualEvent of events">
    <li class="actualevent" id="event-title">
      <a routerLink="/event/show/{{ actualEvent.id }}">
        {{ actualEvent.title }}
      </a>
    </li>
    <li>{{ actualEvent.startDate }} - {{ actualEvent.endDate }}</li>
    <li class="event-description" id="event-desc-short">
      {{ actualEvent.description }}
    </li>
  </ul>
</body>
