body {
  background-color: #dbe3de;
}

h1 {
font-family: Elephant;
font-size: 160px;
color: #303845;
margin-top: 20px;
margin-left: 50px;
}

ul {
  font-family: Helvetica;
  font-size: 20px;
  color: #303845;
  text-align: right;
  margin-top: -57px;

}

li {
  display: inline-block;
  margin-right: 20px;
  text-align: right;
  text-decoration: none;
}


hr {
  size: 1px;
  margin-top: -130px;
}
