<body>
 <h1>EVENTS</h1>
 <hr>
<ul>
  <li>
  <a routerLink="/login">Login</a>
</li>
<li>
  <a routerLink="/register">Sign up</a>
</li>
</ul>


  <ul *ngFor="let actualEvent of events">
    <li id="event-title">
      <a routerLink="/event/show/{{ actualEvent.id }}">
        {{ actualEvent.title }}
      </a>
    </li>
    <li>{{ actualEvent.startDate }} - {{ actualEvent.endDate }}</li>
    <li class="event-description" id="event-desc-short">
      {{ actualEvent.description }}
    </li>
  </ul>
</body>
