<h1><a routerLink="/events" id="homepage">EVENTS</a></h1>

<hr>
<ul class="start">
  <li class="username">
    Hello, user!
  </li>
  <li class="myevents">
    <a routerLink="/events/logged">my events</a>
  </li>
  <li class="createevents">
    <a routerLink="/event/add">create event</a>
  </li>
  <li class="logout">
    <a routerLink="/events">log out</a>
  </li>
</ul>
<form>
<div class="new-comment">

<input type="text" name="comment" placeholder="write comment" #comment>

</div>

<button
  (click)="
      addComment(comment.value);
      comment.value = '';
    "
>
  Submit
</button>
</form>
<button (click)="back()">Back</button>
