body {
  background-color: #dbe3de;
}

h1 {
  font-family: Elephant;
  font-size: 160px;
  color: #303845;
  margin-top: 20px;
  margin-left: 50px;
}

ul.start {
  font-family: Helvetica;
  font-size: 20px;
  color: #303845;
  text-align: right;
  margin-top: -52px;

}

li {
  display: inline-block;
  margin-right: 20px;
  text-align: right;
  text-decoration: none;
}


hr {
  size: 1px;
  margin-top: -130px;
}

ul.events {
  color: #303845;
  font-size: 20px;
  font-family: Helvetica;
  margin-top: 80px;
}
